@model String

@{
    ViewBag.Title = "Spar Confirmation";
}

<h2>Thanks for requesting a spar.</h2>
<h3>If @Model is interested, you'll be notified by email with proposed date and location of the spar.</h3>