@model SparWeb.Models.ConfirmSparDetailsViewModel

@{
    ViewBag.Title = "Spar Confirmation Details";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="alert alert-success text-center" role="alert">
            @if (Model.SparRequesStatus == SparModel.SparRequestStatus.DateLocationNegotiation)
            {
                <p><strong>Thanks for scheduling the spar.</strong></p>
                <p>@Model.OpponentFighter.Name will be notified with the date, time and location you proposed. We will let you know if @Model.OpponentFighter.Name accepts it or proposes another change.</p>
            }
            else if (Model.SparRequesStatus == SparModel.SparRequestStatus.Confirmed)
            {
                <p><strong>Thanks for confirming the spar.</strong></p>
                <p>@Model.OpponentFighter.Name will be notified with the date, time and location of the spar. Good luck!</p>
            }
            else if (Model.SparRequesStatus == SparModel.SparRequestStatus.Canceled)
            {
                <p><strong>Thanks for canceling the spar.</strong></p>
                <p>@Model.OpponentFighter.Name will be notified about spar cancelation.</p>
            }
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@{Html.RenderPartial("SparConfirmationInfo", Model);}

@{Html.RenderPartial("SparInformation", Model);}
