@model SparWeb.Models.ConfirmSparDetailsViewModel

@{
    ViewBag.Title = "Spar Confirmation Details";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="alert alert-success text-center" role="alert">
            <p><strong>Thanks for confirming the spar.</strong></p>
            @if (Model.SparIsConfirmed == false)
            { 
            <p>@Model.OpponentFighter.Name will be notified with the date, time and location you proposed. We will let you know if @Model.OpponentFighter.Name accepts it or proposes another change.</p>
            }
            else
            {
                <p>@Model.OpponentFighter.Name will be notified with the date, time and location of the spar. Stay safe!</p>
            }
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@{Html.RenderPartial("SparConfirmationInfo", Model);}

@{Html.RenderPartial("SparInformation", Model);}
