@model SparWeb.Models.SparConfirmationViewModel

@{
    ViewBag.Title = "Spar Confirmation";
}

@{
    var sparConfirmationInfo = Model;
}

@using (@Html.BeginForm("ConfirmSpar", "Spar", new { OpponentId = Model.OpponentFighter.SparIdentityUser.Id }, FormMethod.Post))
{
    <div class="row text-center">
        <h2 class="sparDetailsStatus">Please, confirm that you want to spar @Model.OpponentFighter.Name.</h2>
    </div>
    { Html.RenderPartial("SparConfirmationInfo", sparConfirmationInfo); }
<div class="row sparConfirmationSectionRow">
    <div class="col-md-4"></div>
    <div class="col-md-1">
        <a href="javascript:window.history.back();" class="btn btn-default btn-lg">Cancel</a>
    </div>
    <div class="col-md-3">
        <input type="submit" value="Confirm Spar Request" class="btn btn-default btn-danger btn-lg" />
    </div>
    <div class="col-md-4"></div>
</div>    
}


