{
  "ConnectionStrings": {
    "SparConnection": "Server=(localdb)\\mssqllocaldb;Database=SparDev;Trusted_Connection=True;MultipleActiveResultSets=true",
    "SparStorage": "UseDevelopmentStorage=true",
    "Elmah.Sql": "Data Source=.;Initial Catalog=Elmah;Integrated Security=True"
  },
  "AppSettings": {
    "ProfilePicsUrl": "http://127.0.0.1:10000/devstoreaccount1/images/ProfilePics/",
    "GymPicsUrl": "http://127.0.0.1:10000/devstoreaccount1/images/GymPics/",
    "ElasticApiKey": "<your-elastic-email-api-key>",
    "ElasticEndpoint": "https://api.elasticemail.com/v2/email/send",
    "ElasticFromEmail": "support@spargym.com",
    "EmailSupport": "Fightura <support@spargym.com>",
    "EmailAdmin": "Oleksiy Shevchukevych <cheetah@gmail.com>",
    "AdminName": "Oleksiy",
    "Include3rdPartyScripts": false,
    "elmah.mvc.disableHandler": false,
    "elmah.mvc.disableHandleErrorFilter": false,
    "elmah.mvc.requiresAuthentication": false,
    "elmah.mvc.IgnoreDefaultRoute": false,
    "elmah.mvc.allowedRoles": "*",
    "elmah.mvc.allowedUsers": "*",
    "elmah.mvc.route": "elmah",
    "elmah.mvc.UserAuthCaseSensitive": true,
    "reCaptchaPublicKey": "<your-recaptcha-public-key>",
    "reCaptchaPrivateKey": "<your-recaptcha-private-key>"
  }
}
