SparData/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SparProject.v12.suo
SparWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestConsoleClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
