@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <p>
            Thanks for you interest in SparGym! Our goal is to connect sparring partners in boxing, MMA and other combat sports and to help to arrange the actual sparring. The site is aimed for boxing trainers and amateur or professional fighters. Simply <a href="@Url.Action("Register", "Account")">register for FREE</a> and become a part of our growing community.
        </p>
		<p>
			We all know that if fighter is serious about his sport he or she has to spar regularly and with variety of sparring partners. It’s been always the problem to find a new sparring partner outside of your gym. The issue is not that there is not enough fighters but that it’s really hard to connect. Once fighter trains long enough in the same gym, he ought to spar the same guys most of the times. Another big problem is to find sparring partners for women fighters and young fighters.
		</p>
		<p>
			There are various places on the web where fighters hang out but there is no central location where you can find sparring partners. SparGym is created to address all these issues and become number 1 spot for your sparring needs.
		</p>
        <p>
            SparGym is designed to be as simple as possible. You can search our growing database of fighters by age, gender, weight, height, stance, location and experience level. Once you <a href="@Url.Action("Register", "Account")">register</a> as a trainer or fighter and confirm your email address you’re good to go. Trainers can add their fighters or fighters can act on their own. Send sparring request with single click and wait for response. If the fighter you chose is interested in sparring, you can negotiate date, time and location of the spar with him or his trainer. Couldn’t it be any simple?
        </p>
        <p>
            SparGym is young project. We constantly work on improving our site and suit it to your needs. Please <a href="@Url.Action("Contact")">contact us</a> if you have any suggestions on improving our site or if you see any problems. Your input will be greatly appreciated!
        </p>
        <p></p>
        <p>
            <strong>P. S. </strong>Our long term vision is to support other combat sports, such as MMA, wrestling, muay thai, etc. Please let us know if you think it’s a good idea and what specific combat sport you think we need to include. 
        </p>
    </div>
</div>
