@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        <p>SparGym is the ultimate resource for finding boxing sparring partners nationwide. It makes it really easy to find boxing spar partner of any level. No matter if you are beginner or experienced boxer, you will find the right spar partner for yourself.</p>
    </div>
</div>
