@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        <p>
            Thanks for you interest in SparGym! Our goal is to make it really easy to find the right boxing sparring partner in the United States and help to arrange the actual spar. The site is 100% FREE and is aimed for both amateur and professional boxers. Simply <a href="@Url.Action("Register", "Account")">register</a> and start sending sparring requests!
        </p>
        <p>
            We all know that if you are serious about boxing you have to spar regularly and with variety of sparring partners. It’s been always the problem to find a new sparring partner. The issue is not that there is not enough boxers but that it’s really hard to connect. Once boxer trains long enough in the same gym, he ought to spar the same guys most of the times. Another big problem is to find sparring partners for women boxers and young boxers. SparGym is created to address all these problems.
        </p>
        <p>
            SparGym is designed to be as simple as possible. Once you <a href="@Url.Action("Register", "Account")">register</a> and confirm your email address you’re good to go. Search our growing database of boxers by age, gender, weight, height, stance, location and experience level. Send sparring request with single click and wait for response. If the boxer you chose is interested in sparring, you can negotiate date, time and location of the spar. Couldn’t it be any simple?
        </p>
        <p>
            SparGym is young project. We constantly work on improving our site and suit it to your needs. Please <a href="@Url.Action("Contact")">contact us</a> if you have any suggestions on improving our site or if you see any problems. Your input will be greatly appreciated!
        </p>
        <p></p>
        <p>
            <strong>P. S. </strong>Our long term vision is to support other combat sports, such as MMA, wrestling, muay thai, etc. Please let us know if you think it’s a good idea and what specific combat sport you think we need to include. 
        </p>
    </div>
</div>
