@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:info@oleksi.com">info@oleksi.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@oleksi.com">info@oleksi.com</a>
</address>