body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.fighterName {
	font-size: 40px;
	font-weight: bold;
}

.fighterNameSmall {
	font-size: 22px;
	font-weight: bold;
}

.gymName {
	font-size: 18px;
	font-weight: bold;
}

.gymNameSmall {
	font-size: 14px;
	font-weight: bold;
}

.top-buffer { 
	margin-top:20px; 
}

.profilePictureDefault {
	width: 250px;
	height: 250px;
	background-image: url("Images/anonymous-photo-250X250.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
	cursor: pointer;
	text-align: center;
	padding-top: 55px;
}

.profileUploadPicHeader {
	font-size: 34px;
	font-weight: bold;
}

.profileUploadPicSubeader {
	font-size: 18px;
	font-weight: bold;
}

.profilePicture {
	text-align: right;
}

.spar-fighter .dl-horizontal dt {
	text-align: left;
}

.vAlignCenter {
	float:none !important;
    display:inline-block !important;
    vertical-align:middle !important;
}

.sparConfirmationRow {
	text-align: center;
}

.sparConfirmationGymRow {
	text-align: center;
	margin-bottom: 10px;
}

.sparConfirmationSectionRow {
	text-align: center;
	margin-top: 30px;
}


.sparConfirmationProfilePicture {
    text-align: center;
}


/*============== glyphicon in textbox positioning ================
*/
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/*============== glyphicon in textbox positioning - END ================ */

.fighterCard {
	width: 260px;
}

.boxingSparSign {
	margin-top: 40px;
}

.sparInformation {
	margin-top: 20px;
}

.sparConfirmationInstructionRow {
	margin-top: 10px;
}

.sparDetailsStatus {
    padding-bottom: 20px;
    padding-top: 10px;
}

.sparFighterCTA {
	width: 140px;
}