@model SparWeb.Models.AccountFighterViewModel

@{
    ViewBag.Title = "Account Summary";
}

<div class="row account-info-section">
    <div class="col-md-1"></div>
    <div class="col-md-3">
		@{Html.RenderPartial("ProfilePicture", Model);}
    </div>
    <div class="col-md-6">
        @{Html.RenderPartial("FighterAttributes", Model);}
        <div class="update-profile-info">
            <p class="text-right"><a href="#">Update Profile</a></p>
        </div>
	</div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-center">
            <a class="btn btn-success btn-lg col-xs-12 col-sm-3 col-sm-offset-4" href="@Url.Content("~/")">Find Spar Partners »</a>
        </p>
    </div>
</div>

@{ Html.RenderPartial("SparRequstsList", Model.SparRequests); }

@{ Html.RenderPartial("UpdateFighterProfileInfoModal", Model); }

@section scripts{
    <script type="text/javascript">
	$(function () {
		$('.update-profile-info').find('a').click(function () {
			$('#updateProfileModal-@Model.ID').addClass('fade');
			$('#updateProfileModal-@Model.ID').modal('show');
		});

		@if (ViewBag.ShowUpdateProfileModal != null)
		{
		<text>
		$('#updateProfileModal-@Model.ID').removeClass('fade');
		$('#updateProfileModal-@Model.ID').modal('show');
		</text>
		}
	});
</script>
}
