@model SparWeb.Models.AccountViewModel

<div class="row">
    <div class="col-md-3">
        <img src="~/Content/Images/anonymous-photo.jpg" />
    </div>
    <div class="col-md-9">
        @Html.ValueFor(m => m.Name)
    </div>
</div>
