@{
    ViewBag.Title = "Confirm Your Email";
}
<h2>@ViewBag.Title.</h2>
<h3>
    Please check your email and confirm your email address. If you don't see our email make sure you check Spam folder, it might be there!
</h3>

@section scripts {
	<script type="text/javascript">
		$(function () {
			ga('send', 'event', 'Registration', 'Registration Complete');
		});
	</script>
}