@model int?

@{ 
	Layout = null;
}

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h1 class="modal-title text-center" style="font-size: 40px;font-weight: bold;">Join Fightura for FREE</h1>
	@Html.AntiForgeryToken()
</div>
<div class="modal-body">
	@{Html.RenderPartial("RegisterMain", new SparWeb.Models.RegisterMainViewModel() { IsPopupMode = true, IsFromBlog = (Request.Browser.IsMobileDevice || Model == 1) });}
</div>
