@model int?

@{
	ViewBag.Title = "Registration";
}

<div class="row text-center registerForFreeMessage">
	<h1 class="sparDetailsStatus">Register for FREE to connect with sparring partners.</h1>
</div>

@{Html.RenderPartial("RegisterMain", new SparWeb.Models.RegisterMainViewModel() { Mode = Model, IsPopupMode = false });}

<script type="text/javascript">
	$(function() {
		$('#registerTrainer').click(function() {
			$('.registerForFreeMessage').hide();
		});

		$('#registerFighter').click(function() {
			$('.registerForFreeMessage').hide();
		});
	});
</script>