<div class="well" id="display-ad-box">
    <a href="http://go.web.plus.espn.com/c/2057052/566982/9070" target="_blank">
        <img src="@Url.Content("~/Content/Images/esp-plus-ufc.jpg")" id="display-ad-box-img" />
    </a>
</div>

