@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Oops! Something went wrong if you're seeing this page!</h1>
<h3 class="text-danger">Please try again whatever you were trying to do. If the problem persists, please @Html.ActionLink("contact us", "Contact", "Home") to resolve your issue.</h3>

