@model SparWeb.Models.ConfirmSparDetailsViewModel

<div class="row sparInformation">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Spar Information</h1>
            </div>
            <div class="panel-body">
                @{ Html.RenderPartial("SparInformation", Model); }
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
